*, *:is(::after, ::before) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", Arial, sans-serif;
    line-height: 1.5;
}

input,
textarea,
select,
button {
    color: inherit;
}

ul, ol {
    list-style: none;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0)!important;
    overflow: hidden !important;
}

.grid-container {
    --sides-width:  minmax(var(--min-side-width), 1fr);
    --content-width: minmax(var(--min-content-width), var(--max-content-width));

    display: grid;
    grid-template-columns: 
        var(--sides-width)
        var(--content-width) 
        var(--sides-width);
}

.grid-content-center {
    grid-column: 2 / 3;
}

.grid-content-full {
    grid-column: 1 / -1;
}