:root {
    --color-white: rgb(255, 255, 255);
    --color-accent: rgb(237, 76, 92);
    --color-gray: rgb(196, 196, 196);
    --color-dark: rgb(22, 14, 51);
    --max-content-width: 1100px;
    --min-content-width: 350px;
    --min-side-width: 20px;
    --header-height: 100px;
    --small-text: 18px;
    --medium-text: 24px;
    --medium-title-text: 30px;
    --large-text: 64px;
}