.AvaibleCoins {
    @include section-layout;

    &-title {
        @include title-layout;
        
        &-name {
            @include title-name;

            @include tablet {
                font-size: clamp(var(--medium-title-text), 6vw,var(--large-text));
            }
        }

        &-description {
            @include title-description;

            @include tablet {
                font-size: clamp(var(--small-text), 5vw,var(--medium-text));
            }
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @include desktop {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 30px;
        }

        @include mobile {
            justify-items: center;
        }
    }

    &-item {
        border-radius: 12px 12px 0 0;
        background-color: white;

        @include desktop {
            display: flex;
            flex-direction: row;
        }

        @include mobile {
            flex-direction: column; 
            width: 350px;
        }

        &-img {
            background-color: var(--color-dark);
            max-width: calc((var(--max-content-width) - 30px * 2) / 3);
            height: calc((var(--max-content-width) - 30px * 2) / 3);

            @include mobile {
                width: 350px;
                max-width:400px;
            }
        }

        &-wrapper {
            padding: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 80px;

            @include desktop {
                row-gap: 0;
                justify-content: space-between;
            }

            @include mobile {
                row-gap: 30px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }

        &-title {
            font-size: var(--medium-title-text);
            font-weight: var(--font-medium);
        }

        &-description {
            font-size: var(--small-text);
            font-weight: var(--font-thin);
            color: var(--color-gray);
        }

        &-price {
            font-size: var(--medium-title-text);
            font-weight: var(--font-bold);
            text-transform: uppercase;

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-button {
                @include border-button;
                background-color: var(--color-accent);
                color: var(--color-white);

                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-dark);

                }
            }
        }

        @include wide-descktop-above {
            &:is(:first-child) {
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: -5vw;
                    transform: translate(-50%, -50%);
                    width: 65px;
                    height: 65px;
                    background-color: rgba(239, 68, 59, 0.1);
                    border-radius: 50%;
                    cursor: pointer;
                    background-image: url("../../img/sections/availableCoins/left.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-attachment: fixed;
                }
            }

            &:is(:last-child) {
                position: relative;
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 45%;
                    right: -9vw;
                    transform: translate(-50%, -50%);
                    width: 65px;
                    height: 65px;
                    background-color: rgba(239, 68, 59, 0.1);
                    border-radius: 50%;
                    cursor: pointer;
                    background-image: url("../../img/sections/availableCoins/right.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-attachment: fixed;
                }
            }
        }
    }

    @include tablet {
        padding: 40px 0 30px 0;
        row-gap: 40px;
    }
}