.AvaibleCoins {
    padding: var(--top-section-padding) 0 150px 0;
    row-gap: 80px;
    align-items: center;
    column-gap: 25px;

    @include tablet {
        padding: 40px 0 30px 0;
        row-gap: 40px;
        column-gap: 0px;
    }

    &-title {
        @include title-layout;

        &-name {
            @include title-name;
        }

        &-description {
            @include title-description;
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @include desktop {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 30px;
        }

        @include mobile {
            justify-items: center;
        }
    }

    &-item {
        border-radius: 12px 12px 0 0;
        background-color: white;

        @include desktop {
            display: flex;
            flex-direction: row;
        }

        @include mobile {
            flex-direction: column; 
            max-width: 350px;
        }

        &-img {
            background-color: var(--color-dark);
            max-width: calc((var(--max-content-width) - 30px * 2) / 3);
            max-height: calc((var(--max-content-width) - 30px * 2) / 3);

            @include mobile {
                min-width: 200px;
                max-width: 400px;
            }
        }

        &-wrapper {
            padding: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 80px;

            @include desktop {
                row-gap: 0;
                justify-content: space-between;
            }

            @include mobile {
                row-gap: 30px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }

        &-title {
            font-size: var(--medium-title-text);
            font-weight: var(--font-medium);
        }

        &-description {
            font-size: var(--small-text);
            font-weight: var(--font-thin);
            color: var(--color-gray);
        }

        &-price {
            font-size: var(--medium-title-text);
            font-weight: var(--font-bold);
            text-transform: uppercase;

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-button {
                @include border-button;
                background-color: var(--color-accent);
                color: var(--color-white);

                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-dark);

                }
            }
        }
    }
}