.pages-coins {
    &-item1 {
        position: absolute;
        top: 30vh;
        left: min(12vw, 300px);

        @include desktop {
            @include visually-hidden;
        }
    }

    &-item2 {
        position: absolute;
        top: 35vh;
        right: min(12vw, 300px);

        @include desktop {
            @include visually-hidden;
        }
    }

    &-item3 {
        position: absolute;
        top: 85vh;
        right: min(11vw, 250px);

        @include desktop {
            @include visually-hidden;
        }
    }

    &-item4 {
        position: absolute;
        top: 100vh;
        left: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item5 {
        position: absolute;
        top: 185vh;
        right: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item6 {
        position: absolute;
        top: 195vh;
        left: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item7 {
        position: absolute;
        top: 275vh;
        left: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item8 {
        position: absolute;
        top: 285vh;
        right: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item9 {
        position: absolute;
        top: 450vh;
        left: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }

    &-item10 {
        position: absolute;
        top: 450vh;
        right: min(8vw, 200px);
        
        @include desktop {
            @include visually-hidden;
        }
    }
}