.Platform {
    padding-block: 165px;
    height: 660px;
    width: 100%;

    // @include mobile {
    //     height: 450px;
    // }

    background-image: 
        url("../../img/sections/Platform/bg2.svg"),
        url("../../img/sections/Platform/bg1.svg"),
        url("../../img/sections/Platform/bg3.svg");

    background-size: cover, cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
    background-position: center center, center center, center center;

    &-content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include mobile {
            row-gap: 20px;
        }
    }

    &-title {
        text-align: center;
        font-size: var(--large-text);
        font-weight: var(--font-bold);
        color: var(--color-white);

        @include mobile {
            font-size: var(--medium-title-text);
        }
    }

    &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        cursor: pointer;
    }
}